<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Règle 1 importée" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Rewrite" url="/H2021/420626RI/Equipe_1/CegepWebProject/public/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>